.project{
    background-color: #0C0E19;

}
.project .btns button{
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    background-color: #465697;
    border-radius:20px ;


}
.project .btns button a{
    text-decoration: none;
    color: #fff;
}
.project img{
    width: 100%;
    height: 200px;
}